.sprite-sheet-actor {
  position: relative;
  overflow: hidden;
}

.sprite-sheet-actor__sheet {
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
  transform-origin: 0 0;
  will-change: transform;
}
